* {
  box-sizing: border-box;
}

/* Add a gray background color with some padding */
body {
  font-family: Arial;
  padding: 20px;
  background: #f1f1f1;
}

/* Header/Blog Title */
.header {
  padding: 30px;
  font-size: 40px;
  text-align: center;
  background: white;
}

.navelem:hover{
    background-color: #ffffff;
}
.black{
    color:black;
}
.form-little{
    border: 1px solid black;
    width: 60%;
    float: left;
    padding: 1%;
    height:70%;

    margin-left:5px;
}

.formulaire{

    border: 1px solid black;
    width:100%;
    height: 340px;
    padding: 1%;
}
.preview {
    height: 340px;
    width: 100%;
    margin-top: 5px;
    border: 1px solid black;
    overflow: scroll;
}
/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {
  float: left;
  width: 75%;
}

/* Right column */
.rightcolumn {
  float: right;
  width: 25%;
  padding-left: 20px;
}

/* Fake image */
.fakeimg {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
}

/* Add a card effect for articles */
.card {
   background-color: white;
   padding: 20px;
   margin-top: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
  margin-top: 20px;
}

#topnav{
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height: 50px;
    background-color: #333;
    z-index: 1000;
    overflow: hidden;
}
#topnav a{
    text-decoration: none;
    display:inline-block;
    padding-right: 15px;
    padding-left: 15px;
    position :relative;
    top:-1px
}

#topnav a h2 {
    color: white;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {
    width: 100%;
    padding: 0;
  }
}
